.footer-grid__about {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

@media screen and (max-width: 768px) {
  .footer-grid__about {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 425px) {
  .footer-grid__about {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}