.education__card-image {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  min-height: 282px;
}

@media screen and (max-width: 767px) {
  .education__card-image {
    margin-bottom: 12px;
    max-height: 160px;
  }
}