.footer-grid__development {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-grid__development {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 767px) {
  .footer-grid__development {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}