.footer__paragraph {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__paragraph {
    font-size: 12px;
    line-height: 20px;
  }
}