.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1090px) {
  .header__menu-list {
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 959px) {
  .header__menu-list {
    display: none;
  }  
}